
.c-plus{
    background-color: rgb(49, 49, 49);
    background-image: url(../images/background-dark.jpg);
    color: wheat;
    display: block;
    background-size: cover;
    height: 100%;
    /* flex-direction: row; */
}
/* .c-plus  */
.info{
    padding: 3vw;
    width: 45vw;
    padding-top: 1vw;
    height: 90vh;
    /* border: 2px solid white; */
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: 2vw;
    padding-bottom: 0%;
}
.info iframe{
    height: 55%;
    width: 95%;
    border-radius: 20px;
    margin: 30px 20px 0px 20px;
    border: double;
    
}
.info p a{
    text-decoration: none;
    color: #ff7878;
}
.display{
    display: flex;
    flex-direction: row;
}
/* .c-plus */
 .info h3{
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0%;
}
/* .c-plus  */
.info p{
    font-size: 1rem;
    text-align: center;
    margin: 4% 0;
}
/* .c-plus  */
.sources{
    width: 45vw; 
    height: 100vh;
}
/* .c-plus  */
.courses{
    height: 34%;
    /* border: 2px solid wheat; */
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    border-radius: 20px;

}
/* .c-plus  */
.Books{
    width: 45vw;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
    padding-top: 20px; 
    border-radius: 20px;
}
/* .c-plus */
 .Books{
    height: 30%;
    /* border: 2px solid wheat; */
    /* margin-top: 5rem; */

}
/* .c-plus */
 .courses h1,  .Books h1, .documentation h1{
    margin: 0;
    padding: 0;
    /* margin-top: 10px; */
    margin-left: 5%;
    font-size: x-large;
}
/* .c-plus   */
.boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    /* border: 2px solid wheat; */

}
.documentation{
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
    padding-top: 20px; 
    border-radius: 20px;
}
.documentation .button{
    display: flex;
    /* padding: 20px;  */
    text-decoration: none;
}
.documentation .button img{
    height: 70px;
    display: block;
    margin-left: 5%;
}
.documentation .button h3{
    padding-left: 20px;
    font-size: x-large;
    color: #ff7878;
}

@media only screen and (max-width:1025px) {
    .c-plus{
        height: 100vh;
        /* margin-top: 1vw; */
    }
    .info{
        width: 95vw;
        height: inherit;
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding: 5px 20px;
        margin-top: 1vh;
    }
    .sources{
        width: 95vw;
        height: 50vh;
        margin: auto;
        /* display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center; */
        /* padding: 20px; */
        margin: 0%;
    }
    .display{
        flex-direction: column;
    }
    .info iframe{
        height: 40%;
        width: 100%;  
        border-radius: 20px;
        /* margin: 30px 20px 0px 20px; */
        border: double;
        margin: 3vw;
        margin-bottom: 0%;
        
    }
    .info h3{
        font-size: 1.5rem;
        text-align: center;
    }
    .info p{
        font-size: 0.7rem;
    }
    .courses, .Books, .documentation{
        margin-top: 2%;
        padding-top: 0%;
        margin-left: 2vw;
        height: 14vh;
        width: 100%;
        padding-bottom: 2vw;

    }
    .courses h1, .Books h1, .documentation h1{
        padding-top: 2vw;
        font-size: 1rem;
    }
    .documentation .button img{
        height: 50px;
        display: block;
        margin-left: 5%;
    }
    .documentation .button h3{
        font-size: large;
        color: #ff7878;
    }
    .documentation .button{
        padding: 0%;
    }
    .documentation {
        height: fit-content;
    }
    
    
}
