.javascript{
    /* background-image: url(../images/bg3.jpg); */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaKuLgsel-1tFC1myiPqhiwVm883cpYdiEgg&usqp=CAU);

    background-size: cover;
    background-color: black;
    color: wheat;
}