.php{
    background-color: black;
    /* background-image: url(../images/bg5.jpg); */
    background-image: url(https://media.bitdegree.org/storage/media/images/2018/10/10-tips-to-learn-PHP.jpg);

    background-size: cover;
    color: wheat;
}